<div class="all-content">
    <div class="background-color"></div>
    <div class="img">
        <div class="game" *ngIf="!isShowGame">
            <i class="fa-brands fa-space-awesome" (click)="startGame()"></i>
            <span>
                Play
            </span>
        </div>
    </div>
    <app-game *ngIf="isShowGame"></app-game>

    <div class="right" *ngIf="!isShowGame">
        <div class="top">
            <i class="fas fa-moon"></i>
            <span> Moonlight </span>
        </div>
        
        <div class="row">
            <div class="item">
                <span>
                    Usuário
                </span>
                <input type="text">
            </div>
        </div>

        <div class="row">
            <div class="item">
                <span>
                    Senha
                </span>
                <input [type]="isShow ? 'text' : 'password'" class="password">
                <i class="fas icon-password" [ngClass]="isShow ? 'fa-eye-slash' : 'fa-eye'" (click)="isShow = !isShow"></i>
            </div>
        </div>

        <div class="row">
            <div class="button custom-cursor-pointer">
                <span>
                    Login
                </span>
            </div>
        </div>
    </div>
</div>