<div class="all-content">
    <div class="row">
        <div class="icon">
            <i class="fas fa-arrow-left" (click)="choseTypeForm()"></i>
        </div>
    </div>
    <div class="row">
        <div class="title">
            {{ getTitle() }} 
        </div>
    </div>

    <div class="content">
        <div class="item">
            <span class="item-title"> {{ item.name ? item.name : 'Mission name' }} </span>
            <div class="item-content">
                <div class="item-left">
                    <div class="item-image">
                        <img [src]="getRocketImage()" *ngIf="item.image_rocket">
                        <i class="fas fa-shuttle-space"  *ngIf="!item.image_rocket"></i>
                    </div>
                </div>
                <div class="item-right">
                    <span> <i class="fas fa-map"></i> Route: {{ item.route }} </span>
                    <span> <i class="fas fa-calendar-days"></i> Departure date: {{ item.departure_date }} </span>
                    <span> <i class="fas fa-calendar-days"></i> Return date: {{ item.return_date }} </span>
                    <span> <i class="fas fa-rocket"></i> Rocket: {{ item.name_rocket}} </span>
                    <span> <i class="fas fa-user-astronaut"></i> Place: {{ item.place }} </span>
                    <span> <i class="fas fa-envelope"></i> Administrator: {{ item.email_creator }} </span>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="row">
                <div class="item item-50">
                    <span> Name </span>
                    <input type="text" [(ngModel)]="item.name" [disabled]="getDisabled()">
                </div>
                <div class="item item-50">
                    <span> Rocket </span>
                    <button class="select" mat-button [matMenuTriggerFor]="menu" [disabled]="getDisabled()" [ngClass]="getDisabled() ? 'no-pointer disabled-select' : 'pointer' ">
                        <span> {{ item.name_rocket ? item.name_rocket : 'Select' }} </span>
                        <i class="fas fa-caret-down"></i>
                    </button>                    
                </div>
                <mat-menu #menu="matMenu">
                    <div class="menu">
                        <div class="input" (click)="$event.stopPropagation()">
                          <input type="text" [(ngModel)]="searchRocket" placeholder="Search">
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="scroll">
                          <ng-container *ngFor="let rocket of rocketArray">
                            <ng-container *ngIf="rocket.name.toLowerCase().includes(searchRocket.toLowerCase())">
                              <div class="item-menu" (click)="choseItemSelect('rocket', rocket)">
                                <span [ngClass]="rocket.name == item.name_rocket ? 'valid-span' : 'invalid-span'">
                                  {{ rocket.name }}
                                </span>
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                </mat-menu>
            </div>
            <div class="row">
                <div class="item item-50">
                    <span> Departure date </span>
                    <input [(ngModel)]="item.departure_date" [matDatepicker]="departure_date" (input)="formatDate($event, 'departure')" [disabled]="getDisabled()">
                    <mat-datepicker #departure_date></mat-datepicker>
                    <button class="date-button" (click)="departure_date.open()" [disabled]="getDisabled()" [ngClass]="getDisabled() ? 'no-pointer' : 'pointer' ">
                        <i class="fas fa-calendar-days"></i>
                    </button>
                </div>
                <div class="item item-50">
                    <span> Return date </span>
                    <input [(ngModel)]="item.return_date" [matDatepicker]="return_date" (input)="formatDate($event, 'return')" [disabled]="getDisabled()">
                    <mat-datepicker #return_date></mat-datepicker>
                    <button class="date-button" (click)="return_date.open()" [disabled]="getDisabled()" [ngClass]="getDisabled() ? 'no-pointer' : 'pointer' ">
                        <i class="fas fa-calendar-days"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="item item-70">
                    <span> Route </span>
                    <input type="text" [(ngModel)]="item.route" [disabled]="getDisabled()">
                </div>
                <div class="item item-30">
                    <span> Place </span>
                    <input type="number" min="0" max="100" [(ngModel)]="item.place" [disabled]="getDisabled()">
                </div>
            </div>
        </div>
    </div>

    <div class="row-buttons">
        <button class="primary-button" *ngIf="getDisplayedButton('delete')"> Delete </button>
        <button class="primary-button" *ngIf="getDisplayedButton('edit')" (click)="edit()"> {{ !isEdit ? 'Edit' : 'Cancel' }}  </button>
        <button class="primary-button" *ngIf="getDisplayedButton('save')" (click)="saveMission()"> Save </button>
    </div>

    
</div>