<div class="all-content">
    <div class="side side-left" [ngClass]="isShowLeft ? 'side-expanded' : '' " (mouseleave)="isShowLeft = false">
        <div class="top">
            <div class="display-flex">
                <img [src]="cachedImageUser" class="img">
                <span *ngIf="isShowLeft"> {{ me.name }}</span>
            </div>
            <i class="fas fa-bars" (click)="isShowLeft = !isShowLeft"></i>
           
        </div>
        <div class="middle" *ngIf="isShowLeft">
            <ng-container *ngFor="let item of menuArray">
                <div class="menu-item" *ngIf="getAccess(item.url)" (click)="navigate(item.url)">
                    <i class="fas fa-rocket"></i>
                    <span> {{ item.name }} </span>
                </div>
            </ng-container>
        </div>
        <div class="bottom">
            <div class="i"></div>
            <span *ngIf="isShowLeft"> Moonlight </span>
        </div>
    </div>
    <div class="timeline">
        <router-outlet></router-outlet>
    </div>
    <div class="side side-right" [ngClass]="isShowRight ? 'side-expanded' : '' " (mouseleave)="isShowRight = false">
        <div class="top">
            <i class="fas fa-bars" (click)="isShowRight = !isShowRight"></i>
        </div>

        <div class="middle">
            <ng-container *ngFor="let item of infoArray">
                <div class="menu-item">
                    <div class="title">
                        <i class="fas" [ngClass]="item.icon"></i>
                        <span *ngIf="isShowRight"> {{ item.name }} </span>
                    </div>
                    <div class="menu-child" *ngIf="isShowRight">
                        <ng-container *ngFor="let child of item.children">
                            <a (click)="redirectToExternalLink(child.url)" target="_blank"> {{ child.name }} </a>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="blurred-background" *ngIf="isShowLeft || isShowRight"></div>
