<div class="all-content" *ngIf="typeForm == ''">
    <div class="row">
        <div class="title">
            Missions
        </div>
    </div>
    <div class="row">
        <div class="top">
            <button class="primary-button" (click)="choseTypeForm('create')">
                Create mission
            </button>
            <div class="display-flex">
                <div class="search">
                    <input type="text" [(ngModel)]="search" (keyup.enter)="searchItems()">
                    <i class="fas fa-magnifying-glass" (click)="searchItems()"></i>
                </div>
                <span (click)="choseFilter()">
                    {{ getFilterName() }}
                    <i class="fas" [ngClass]="!orderByDesc ? 'fa-arrow-down' : 'fa-arrow-up'"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        <ng-container *ngFor="let item of getDisplayedRows()">
            <div class="item" (click)="choseTypeForm('view', item)">
                <span class="item-title"> {{item.name}} </span>
                <div class="item-content">
                    <div class="item-left">
                        <div class="item-image">
                            <img [src]="getRocketImage(item.image_rocket)" *ngIf="item.image_rocket">
                            <i class="fas fa-shuttle-space"  *ngIf="!item.image_rocket"></i>
                        </div>
                    </div>
                    <div class="item-right">
                        <span> <i class="fas fa-map"></i> Route: {{ item.route }} </span>
                        <span> <i class="fas fa-calendar-days"></i> Departure date: {{ item.departure_date }} </span>
                        <span> <i class="fas fa-calendar-days"></i> Return date: {{ item.return_date }} </span>
                        <span> <i class="fas fa-rocket"></i> Rocket: {{ item.name_rocket}} </span>
                        <span> <i class="fas fa-user-astronaut"></i> Place: {{ item.place }} </span>
                        <span> <i class="fas fa-envelope"></i> Administrator: {{ item.email_creator }} </span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="bottom">
        <div class="paginator">
            <i class="fas fa-arrow-left" *ngIf="currentPage != 1" (click)="currentPage = currentPage - 1"></i>
            <i class="fas fa-arrow-right" *ngIf="filteredDataSource && filteredDataSource.length > currentPage * itemsPerPage" (click)="currentPage = currentPage + 1"></i>
        </div>
    </div>
</div>

<app-form-missions [type]="typeForm" *ngIf="typeForm != ''" [parameters]="parameters" (typeFormEmit)="choseTypeForm()"></app-form-missions>