@import '../../../assets/variables.scss';

.all-content{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-score{
    border: .3vh solid rgb(97, 184, 27);
    width: 15vh;
    height: 4vh;
    z-index: 9999;
    position: absolute;
    right: 2vh;
    top: 2vh;
    color: rgb(97, 184, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bit';
}

.i{
    font-size: 5vh;
    color: $white-1;
    z-index: 999;
    position: absolute;
    transform: rotate(-45deg)!important;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.people{
    height: 6vh;
    width: auto;
    animation: meteorFall 10s linear;
    position: absolute;
    z-index: 999;
}

.rock{
    height: 20vh;
    width: auto;
    animation: meteorFall 10s linear;
    position: absolute;
    z-index: 998;
    margin-top: -1vh;
}

.div-message{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;

    span{
        font-size: 5vh;
        animation: fontAnimation 2s infinite alternate;
        font-family: 'Bit';

    }

    .buttons{
        display: flex;
        width: auto;
        gap: 2vh;

        .button{
            padding: 1vh 2vh;
            background-color: rgb(23, 117, 51);
            border-radius: .4vh;
            border: none;
            color: $white-1;
            font-family: 'Bit';
            font-size: 1.2vh;
        }
    }
}

.ship{
    position: absolute;
    z-index: 9999;
    width: auto;
    height: auto;
    bottom: 0vh;
    transition: .3s;

    img{
        height: 40vh;
        width: auto;
    }
}

.custom-cursor {
    cursor: url('../../../assets/cursor.svg'), auto!important;
}

@keyframes meteorFall {
    0% { top: -30vh}
    100% { top: 103vh}
}

@keyframes fontAnimation {
    0% { font-size: 5vh; color: rgba($white-2, .4); }
    50% { font-size: 5vh; color: rgba($white-2, .8); }
    100% { font-size: 5vh; color:rgba($white-2, .4); }
}